#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.input {
  margin: 1em;
  padding: 0.5em;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  width: 60%;
  max-width: 20em;
}

.commentWords {
  font-size: large;
  
}

.Input {
  margin: 1em;
  padding: 0.5em;
  font-size: .5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  width: 60%;
  max-width: 20em;
}

.app {
  width: 100%; /* Take full width of the viewport */
}

.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Left-align content within the post */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 0em;
  padding-bottom: 0em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  width: 96%;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Left-align content within the post */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  width: 92%;
}

.post h2 {
  font-size: 1.5em; /* Adjust h2 font size */
  margin-bottom: -0.5em; /* Reduce gap between header and paragraphs */
}

.commentList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  width: 92%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
